

<p-dialog
  header="Test"
  [visible]="true">

  Hello world
  <button type="button" (click)="openProfile()">
  Open Profile Test
</button>

</p-dialog>

<p-dialog
  header="Profile Test"
  [(visible)]="showProfile"
  [modal]="true"
  [style]="{ width: '50rem' }">

  <!-- <div class="profile-test"> -->
    <app-profile>
    <h2>Profile Modal Working</h2>
    <!-- <p>This is where your profile component will go.</p> -->

    <button type="button" (click)="closeProfile()">
      Close
    </button>
  <!-- </div> -->
   </app-profile>

</p-dialog>